# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/
/bin/
/dist/

# IDE specific
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
/tmp/
/log/
*.log
*.pid
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Go workspace file
go.work

# Build artifacts
__debug_bin

# Reference
/references/

# Swagger API docs
/docs
config/config-local.yaml

# Docker Compose
/volume

# Go module cache
/.gomodcache